
.border {
  border-bottom:30px solid #222224;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position:relative;
  border: 25px solid #222224;
  bottom: 100px;
  left: 25%;
}

.pokeball-red {
  background-color: #EE1515
}

/* .pokeball-size {
  padding-bottom: 10rem;
} */

.main-header {
  color: white;
  font-size: 65px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', cursive;
}

.white-text {
  color: white;
}

#welcome-message {
  background-color: rgba(5,4,2,0.3);
width:850px;
height: 100%;
margin-left:auto;
margin-right:auto;
padding: 10px;
font-family: 'Anonymous Pro', monospace;

}

.hidden {
  display: none;
}

.adventure-status-image {
  max-width: 300px;
}


.countdown {
  margin: 10px;
  font-size: 55px;
  font-family: 'Press Start 2P', cursive;
}

input {
  margin: 5px;
  font-size: 15px;
}

label {
  font-size: 20px;
  font-family: 'Anonymous Pro', monospace;
}

.button {
  margin: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}
