
.border {
  border-bottom:30px solid #222224;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position:relative;
  border: 25px solid #222224;
  bottom: 100px;
  left: 25%;
}

.hero-body {
  padding-bottom: 25px;
}

.pokeball-red {
  background-color: #EE1515
}

/* .pokeball-size {
  padding-bottom: 10rem;
} */

.main-header {
  color: white;
  font-size: 50px;
  margin-bottom: 5px;
  font-family: 'Press Start 2P', cursive;
}

.white-text {
  color: white;
}

#message-container {
  background-color: white;
}

#welcome-message {
/* width:850px; */
color: #222224;
text-align: left !important;
height: 100%;
margin-left:auto;
margin-right:auto;
padding: 10px;
font-family: 'Anonymous Pro', monospace;
}

#instructions {
  color: #222224;
  text-align: left !important;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
  font-family: 'Anonymous Pro', monospace;
}

.instructions {
  font-family: 'Anonymous Pro', monospace;
  color: #222224;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.adventure-status {
  max-width: 300px;
}

.status-image {
  padding-bottom: 30px;
}

.countdown {
  margin-bottom: 10px;
  font-size: 55px;
  font-family: 'Press Start 2P', cursive;
}

input {
  margin: 5px;
  font-size: 15px;
}

label {
  font-size: 20px;
  font-family: 'Anonymous Pro', monospace;
}

.start-button {
  color: white;
  background-color: #00d1b2;
  margin: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

.stop-button {
  color: #222224;
  background-color: rgb(247, 218, 25);
  margin: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

.close {
  cursor: pointer;
  position: relative;
  top: 50%;
  right: 100%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

#pokedex-section {
  margin: 0 100px;
}

.pokedex-entry {
  flex-basis: 10%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex-entry p {

}

.egg {
  min-width: 50px;
}

.help-button {
  font-size: 50px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.footer {
  margin-top: 60px;
}

.tab-content{
			display: none;
}

.tab-content.current{
			display: inherit;
      font-family: 'Press Start 2P', cursive;
		}

.is-parent {
  flex-wrap: wrap;
}

.sprite {
  min-height: 125px;
  min-width: 125px;
}

.adventure-status-image {
  max-height: 200px;
  max-width: 200px;
  padding-bottom: 30px;
}

.status-name {
  margin-right: 30%;
  padding-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
}

@media screen and (max-width: 800px) {
  .status-name {
    margin-right: 0;
  }
}
